<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0F6731DB-8C2B-4097-9387-21F730235962</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>202D88DB-3CE7-4846-93BB-3CCF4A15056C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>202D88DB-3CE7-4846-93BB-3CCF4A15056C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70469032-8CA6-4801-8AE2-6D82B68F8491</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>378E2D50-275A-4442-A3A4-C9E7BDF594BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53AE47B0-2877-4826-8AF6-C139D3882682</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FEC75CD7-1CE2-47DE-AF25-A3385DC11223</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D1C06260-C006-4F19-A410-69E31E7B726C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C5A8547-4AA6-48BB-BE5B-CD6AACB3CCC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC098BE7-2077-4032-B592-AEB8B311A1E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70469032-8CA6-4801-8AE2-6D82B68F8491</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1C06260-C006-4F19-A410-69E31E7B726C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1C06260-C006-4F19-A410-69E31E7B726C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB7D6E80-1DDE-466D-9C89-4151A17D68E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4A35C49-2EFC-419A-BE12-61C425416828</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C5A8547-4AA6-48BB-BE5B-CD6AACB3CCC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC098BE7-2077-4032-B592-AEB8B311A1E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>378E2D50-275A-4442-A3A4-C9E7BDF594BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>pbdco</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Clouflare Create</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Error: missing argument</string>
				<key>title</key>
				<string>Cloudflare Create</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>53AE47B0-2877-4826-8AF6-C139D3882682</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cfcreate</string>
				<key>subtext</key>
				<string>{subdomain} {domain} {ip}</string>
				<key>text</key>
				<string>CF Create</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D4A35C49-2EFC-419A-BE12-61C425416828</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split3}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>MISSING IP</string>
						<key>uid</key>
						<string>FEC75CD7-1CE2-47DE-AF25-A3385DC11223</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>IP OK</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>378E2D50-275A-4442-A3A4-C9E7BDF594BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>4C5A8547-4AA6-48BB-BE5B-CD6AACB3CCC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>create</string>
					<key>domain</key>
					<string>{var:split2}</string>
					<key>ip</key>
					<string>{var:split3}</string>
					<key>proxy</key>
					<string>{var:split4}</string>
					<key>subdomain</key>
					<string>{var:split1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EC098BE7-2077-4032-B592-AEB8B311A1E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash
set -xe

if [[ "$action" == "delete" ]]; then
    # If delete, avoid ip variable
    iparg=""
else
    # If create, set iparg
    iparg="-i $ip"
    
    # Add proxy flag if proxy variable exists
    if [[ -n "$proxy" ]]; then
        iparg="$iparg -p"
    fi
fi

# Set PYTHONPATH to include bundled dependencies
export PYTHONPATH="$PWD/cloudflare-python:$PYTHONPATH"

# Run the Python script directly
python3 "./cloudflare-python/cloudflare.py" "$action" -s "$subdomain" -d "$domain" $iparg</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D1C06260-C006-4F19-A410-69E31E7B726C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Cloudflare Create</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AB7D6E80-1DDE-466D-9C89-4151A17D68E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cfdelete</string>
				<key>subtext</key>
				<string>{subdomain} {domain.com}</string>
				<key>text</key>
				<string>CF Delete</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0F6731DB-8C2B-4097-9387-21F730235962</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>202D88DB-3CE7-4846-93BB-3CCF4A15056C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>delete</string>
					<key>domain</key>
					<string>{var:split2}</string>
					<key>subdomain</key>
					<string>{var:split1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>70469032-8CA6-4801-8AE2-6D82B68F8491</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/pbdco/cloudflare-alfredworkflow

github.com/pbdco</string>
	<key>uidata</key>
	<dict>
		<key>0F6731DB-8C2B-4097-9387-21F730235962</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>202D88DB-3CE7-4846-93BB-3CCF4A15056C</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>378E2D50-275A-4442-A3A4-C9E7BDF594BC</key>
		<dict>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>4C5A8547-4AA6-48BB-BE5B-CD6AACB3CCC4</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>53AE47B0-2877-4826-8AF6-C139D3882682</key>
		<dict>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>70469032-8CA6-4801-8AE2-6D82B68F8491</key>
		<dict>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>AB7D6E80-1DDE-466D-9C89-4151A17D68E3</key>
		<dict>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>D1C06260-C006-4F19-A410-69E31E7B726C</key>
		<dict>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>D4A35C49-2EFC-419A-BE12-61C425416828</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>EC098BE7-2077-4032-B592-AEB8B311A1E3</key>
		<dict>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Create api token at https://dash.cloudflare.com/profile/api-tokens</string>
			<key>label</key>
			<string>User api token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>CLOUDFLARE_API_TOKEN</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>github.com/pbdco</string>
</dict>
</plist>
